/*Colors*/

.modalWrapper {background-color: #25A6DE;}
.app-header {background-color: #25A6DE;}
.tableRows.highlight {background-color: #9ee7ff;}

/*CSS*/

body {
  margin: 0;
  box-sizing: border-box;
}
 
.actionBar {
  display: flex;
  justify-content: space-between;
}

.actionBar .left {
  display: flex;
}

.addSection {
  display: inline-block;
}

.addModalAdd {
  position: absolute;
  bottom: -9px;
  right: 78px;
  border: 1px solid grey !important;
}

.addModalClose {
  position: absolute;
  bottom: -9px;
  right: 22px;
  border: 1px solid grey !important;
}

.addModalAdd:hover {
  background-color: #9ee7ff !important;
}

.addModalClose:hover {
  background-color: #EAE3E2 !important;
}

.app {
  margin: 0 auto;
}

.app-header {
  padding-top: 40px;
}

.app-header h2 {
  display: inline-block;
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal; 
  font-size: 40px;
}

.actionText {
  color: white;
  margin: ;
  font-family: 'Bellefair', serif;
  font-size: 18px;
}

.background-image {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  display: block;
  /*background: url('./img/beach.jpg') no-repeat center center fixed ;*/
  background-color: #F3F7FE;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}

.button {
  font-size: 18px;
  border: 1px white solid;
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #EAE3E2;
}

.content {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 10px;
}

.tableRows.highlight {
  background-color: #9ee7ff;
}

.modalWrapper {
  padding: 16px;
  height: 100%;
  border-radius: 3px;
}

.modalWrapper h1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.recipe {
  margin: 0 0 10px 0;
}

.recipe p {
  font-family: 'Bellefair', serif;
  margin: 0;
  color: white;
  font-size: 18px;
}

.searchInput {
  padding: 6px;
  font-size: 14px;
  border: none;
}

.searchInput.addModal{
  border: 1px solid grey;
}

.searchForm {
  text-align: left;
  display: inline-block;
  border: 1px white solid;
  border-radius: 2px;
  margin-left: 20px;
  background-color: white;
}

.table {
  display: flex;
  flex-flow: row wrap;
  /*background-color: #25A6DE;*/
/*  border: 1px white solid;
  border-radius: 2px;*/
}

.tableColumn {
  min-width: 200px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: #FFF8F5;
  border: 2px #25A6DE solid;
  border-radius: 10px;
  margin: 4px;
}

.tableHeaders {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  padding: 20px 0 10px 14px;

}

.tableRows {
  display: block;
  text-align: left;
  border: 1px solid #969393;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 16px;
  margin: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
}

.tableRows.highlight:hover {
  background-color: #8ae2fb;
}

.tableRows:hover {
  background-color: #EAE3E2;
}