/*Colors*/

.modalWrapper {background-color: #25A6DE;}
.app-header {background-color: #25A6DE;}
.tableColumn {background-color: #fbe1d6;}
/*#fff8f5*/
.tableRows {background-color: #ffffff;}
.tableRows.highlight {background-color: #9ee7ff;}
.tableRows.highlight:hover {background-color: #8ae2fb;}
.viewRecipeRecipe {background-color: #fff8f5;}

/*CSS*/

body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}
 
.actionBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.actionBar .left {
  display: flex;
}

.addSection {
  display: inline-block;
}

.addModalAdd {
  position: absolute;
  bottom: -11px;
  right: 84px;
  border: 1px solid grey !important;
}

.addModalClose {
  position: absolute;
  bottom: -11px;
  right: 22px;
  border: 1px solid grey !important;
}

.addModalAdd:hover {
  background-color: #9ee7ff !important;
}

.addModalClose:hover {
  background-color: #EAE3E2 !important;
}

.app {
  margin: 0 auto;
}

.app-header {

}

.app-header h2 {
  display: inline-block;
  color: white;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal; 
  font-size: 46px;
}

.actionText {
  color: white;
  margin: ;
  font-family: 'Bellefair', serif;
  font-size: 18px;
}

.background-image {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  display: block;
  /*background: url('./img/beach.jpg') no-repeat center center fixed ;*/
  background-color: #fff8f5;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}

.button {
  font-size: 18px;
  border: 1px white solid;
  background-color: white;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px 0 0;
}

.button:hover {
  /*background-color: #EAE3E2;*/
  box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.3)
}

.content {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

.tableRows.highlight {
  background-color: #9ee7ff;
}

.modalWrapper {
  padding: 16px;
  height: 100%;
  border-radius: 3px;
}

.modalWrapper .button {
  margin: 0 0 0 5px;
}

.modalWrapper .button:hover {
  box-shadow: none;
}

.modalWrapper h1 {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #ffffff;
}

.modalWrapper p {
  color: #ffffff;
}


.recipe {
  padding: 20px 0;
}

.recipe p {
  font-family: 'Bellefair', serif;
  margin: 0 0 0 4px;
  color: black;
  font-size: 20px;
}

.searchInput {
  padding: 6px 10px;
  font-size: 14px;
  border: none;
}

.searchInput.addModal{
  border: 1px solid grey;
}

.searchForm {
  text-align: left;
  display: inline-block;
  border: 1px white solid;
  border-radius: 2px;
  margin: 0 5px 0 20px;
  background-color: white;
}

.table {
  display: flex;
  flex-flow: row wrap;
  /*padding-top: 20px;*/
  /*background-color: #25A6DE;*/
/*  border: 1px white solid;
  border-radius: 2px;*/
}

.tableColumn {
  min-width: 200px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*border: 2px #25A6DE solid;*/
  border-radius: 10px;
  margin: 4px;
}

.tableHeaders {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  padding: 20px 0 10px 14px;

}

.tableRows {
  display: block;
  text-align: left;
  border: 1px solid #969393;
  border-radius: 10px;
  padding: 16px 16px;
  margin: 4px 4px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 .2rem;
}

.tableRows:hover {
  box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.3)
}

.tableRows.highlight:hover {
  background-color: #8ae2fb;
}

.viewRecipeContainer{
  height: 278px;
  position: relative;
  overflow-y: scroll;
}

.viewRecipeName{
}

.viewRecipeIngredients{
  flex: 
}

.viewRecipeRecipe {
  padding: 12px;
  display: flex;
  border-radius: 14px;
  margin: 3px;
  cursor: pointer;
}
