.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 2.5%;
}

.App-header h2 {
  text-align: left;
  margin: 0;  
}

.App-intro {
  font-size: large;
}

.actionText {
  text-align: left;
}

.actionText p {
  color: white;
}

.actionWrapper {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainContainer {
  width: 95%;
  margin: 0 auto;
}

.recipe {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 20px;
}

.recipe p {
  margin: 0;
  color: white;
}

.yumm{
  color: blue;
}

.table {
  display: flex;
  flex-flow: row wrap;
}

.tableColumn {
  min-width: 200px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.tableHeaders {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  padding: 20px 0 10px 14px;

}

.tableRows {
  display: block;
  text-align: left;
  border: 1px solid #969393;
  border-radius: 10px;
  padding: 16px 16px;
  margin: 0 4px 4px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
}

.tableRows:hover {
  background-color: #ececec;

}

.highlight {
  background-color: #9ee7ff;
}

.highlight:hover {
  background-color: #8ae2fb;
}

.search {
  padding: 6px;
  font-size: 14px;
}

.searchForm {
  text-align: left;
  display: inline-block;
}

